

#quotescointainer{
    width: 100%;
    font-size: 12px;
}
#quotesleft{
    float:left; 
    width: 29%;
    padding-left:2%;
    padding-right:2%;
    background-color: white;
}
#quotescenter{ 
    float:left;
    background-color:white;
    width: 29%;
    padding-left:2%;
    padding-right:2%;
}
#quotesright{
    float:left;
    width: 29%;
    padding-left:2%;
    padding-right:2%;
}

