
#banner{
	width:auto;
	font-size:20px;
	padding:30px 0% 30px 0%;	
}
/** Beginnings of mobile stylings
@media screen and (max-width:1000px)  {

  /* rules that only apply for canvases narrower than 1000px */
	body{
		font-size:100%;
		background-color:white;
		background-image: none;
  		background-image: none;
  		background-image: none;
  		background-image: none;
  		background-image: none;
  		background-image: none;
  		background-repeat: no-repeat;
  		filter: none;
	}
	.imgLogo{
		width:100%;
	}
	.row{
		clear:both;
		float:left;
		width:100%;
	}
	.col{
		float:left;
		width:auto;
		/** display:inline;  **/
		padding-left:2%;
		padding-right:2%;
	}
	#navImgRight{
		float:right;
	}
	#resultsMobile{
		display:none;
	}
	div#quotescointainer{
    		width: 100%;
		background-color:white;
	}
	div#quotesleft{
 		float:left; 
 		width: 0%;
		height:1%;
		/** overflow:scroll;  **/
 		padding-left:2%;
 		padding-right:2%;		
	}
	div#quotescenter{ 
    		float:left;
    		width: 90%;
    		padding-left:2%;
    		padding-right:2%;
		text-align:justify;
	}
	.raisedBox{
		width:99%;
		border-style:solid;
		border-color:#15317E;
		overflow:hidden;
		-moz-box-shadow: 10px 10px 5px #888;
		-webkit-box-shadow: 10px 10px 5px #888;
		box-shadow: 10px 10px 5px #888;
	}
	div#quotesright{
    		float:left;
    		width: 0%;
    		padding-left:2%;
    		padding-right:2%;
	}
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
}

